/* src/index.css */

/* Para la fuente Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4f6; /* Un gris claro de fondo */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}